.altColor {
  background: linear-gradient(
    143deg,
    #05386b 0%,
    #05386b 100%
  );
}

.leftMenuHeight {
  min-height: 30vh;
}

.rightMenuHeight {
  min-height: 46.3vh;
}

.labelText {
  color: white;
  font-weight: bold;
  font-size: larger;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
