.noStyle {
  list-style: none;
  padding: 0;
}

.smallSubText {
  color: white;
  font-size: 20px;
}

.blueBackground {
  background: rgb(97, 124, 168);
  background: linear-gradient(
    143deg,
    rgba(97, 124, 168, 1) 0%,
    rgba(65, 84, 116, 1) 100%
  );
}

.blueHighlight {
  border: 3px solid #5cdb95;
  box-sizing: border-box;
}

.Enabled {
  color: white;
  font-weight: bold;
  background: #34c56e;
  border-radius: 8px;
  border-style: none;
  height: 43px;
}
.Enabled:hover {
  background: #74d199;
}

.mtb-2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.dropDownMenuHighlight:hover {
  font-weight: bold;
  background-color: rgb(241, 241, 241);
}

.Disabled {
  color: white;
  font-weight: bold;
  background: #ec6323;
  border-radius: 8px;
  border-style: none;
  height: 43px;
}
.Disabled:hover {
  background: #c79a85;
}

.narrow {
  width: 90%;
}

.menuBar {
  background-color: #617ca8;
}

@media only screen and (min-width: 768px) {
.fillVertSpace {
  height : calc(100% - 110px);
  min-height: calc(100vh - 110px);
}
}


.borderRight {
  border-right: 2px solid #5cdb95;
}

.borderRightLGrey {
  border-right: 2px solid #5cdb95;
}

.contentContainer {
  background:
  linear-gradient(135deg, #05386b 21px, #379683 22px, #379683 24px, transparent 24px, transparent 67px, #379683 67px, #379683 69px, transparent 69px),
  linear-gradient(225deg, #05386b 21px, #379683 22px, #379683 24px, transparent 24px, transparent 67px, #379683 67px, #379683 69px, transparent 69px)0 64px;
  background-color:#05386b;
  background-size: 64px 128px;
}

